@page
@model PhamNguyenTrongTuanRazorPages.Pages.Category.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Category.CategoryName" class="control-label"></label>
                <input asp-for="Category.CategoryName" class="form-control" />
                <span asp-validation-for="Category.CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.CategoryDesciption" class="control-label"></label>
                <textarea asp-for="Category.CategoryDesciption" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Category.CategoryDesciption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.ParentCategoryId" class="control-label"></label>
                <select asp-for="Category.ParentCategoryId" class ="form-control" asp-items="ViewBag.ParentCategoryId"></select>
            </div>

            <div class="form-group">
                <label asp-for="Category.CategoryStatus"></label>
                <select asp-for="Category.CategoryStatus" class="form-control">
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                </select>
                <span asp-validation-for="Category.CategoryStatus" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
