@page
@model PhamNguyenTrongTuanRazorPages.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Access Denied</h1>
<a asp-page="/Index">Back to Home</a>